.alert-message-container {
    position: fixed;
    top: 0;
    right: 0; /* Adjust as needed */
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px; /* Adjust padding as needed */
  }
  
  .alert-message {
    width: 300px; /* Adjust width as needed */
  }
  