.store-item-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  .hover:hover {
    /* Add your hover styles here */
    /* For example: background-color, box-shadow, etc. */
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .enlarge:hover {
    /* Add your enlarge styles here */
    /* For example: increase font size, change background color, etc. */
    transform: scale(1.1); /* Adjust the scale factor for the enlarge effect */
    transition: transform 0.3s ease-in-out;
  }